{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="RU">
<head>
    <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static "registration/css/style.css" %}" media="screen" type="text/css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">
</head>
<body>
    <div class="vladmaxi-top">
        <a href="/webtanks/" target="_blank">Главная</a>
        <div class="clr"></div>
    </div>
<br>
<br>
<p align = "center">
    {% block content %}{% endblock %}
    {% block footer %}
    <hr>
    <p>Играйте с нами!</p>
    {% endblock %}
</p>
</body>
</html>