{% load staticfiles %}
<html>
	<head>
    <<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script>
	var tankX = 120;
	var tankY = 690;
	var tank = new Image();
 	var oldBack = new Image();
	var back = new Image();
	var ctx;
	var type = 1;
	//var oldBack = new Image();
	var oldtankX = 120;
	var oldtankY = 690;
	var example;
	var line_1;
	var img = new Image();
	function game() {
            	example = document.getElementById('example'),
		example.getContext;            	
		ctx     = example.getContext('2d');
	    	ctx.fillStyle = 'orange';
    	    	ctx.fillRect(100, 100, example.width, example.height);
		ctx.fill();
	    	ctx     = example.getContext('2d');
	    	ctx.fillStyle = 'gray';
	    	ctx.fillRect(100, 100, 924, 6);
            	ctx.fillRect(100, 100, 6, 620);
	    	ctx.fillRect(100, 714, 924, 6);
	    	ctx.fillRect(1018, 100, 6, 620);
	    	ctx.fillRect(100, 200, 724, 6);
            	ctx.fillRect(300, 620, 724, 6);
            	ctx.fillRect(400, 300, 6, 250);
            	ctx.fillRect(700, 300, 6, 250);
		ctx.fill();	    	
		ctx     = example.getContext('2d');
	    	ctx.fillStyle = 'red';
            	ctx.fillRect(824, 200, 194, 6);
            	ctx.fillRect(106, 620, 200, 6);
            	ctx.fillRect(550, 206, 6, 414);
	    	ctx.fillRect(106, 420, 294, 6);
                ctx.fillRect(706, 420, 312, 6);
		ctx.fill();
		makeTank();
		//gameLoop = setInterval(doGameLoop, 10);
		window.addEventListener('keydown', whatKey, true);
		
	}
	function makeTank()
	{
		//back = ctx.getImageData(tankX, tankY, 25, 10);
		//oldBack = ctx.getImageData(tankX, tankY, 25, 10);
		img.src = '{% static 'webtanks/images/tank2.png' %}';
      		img.onload = function(){
			ctx.drawImage(img, 100, 100, 800, 800, tankX, tankY, 20, 20);
		}
		//setInterval(draw, 100);
		//tank = ctx.getImageData(tankX, tankY, 25, 10);
		//ctx.putImageData(oldBack, tankX, tankY);
	}
	function change(type)
	{
		
		switch (type){	//1 - up; //2 - down //3 - right // 4 - left
		case 1:
			img.src = '{% static 'webtanks/images/tank2.png' %}';
      			img.onload = function(){
				ctx.drawImage(img, 100, 100, 800, 800, tankX, tankY, 20, 20);
			}
			//setInterval(draw, 100);
			/*ctx.fillStyle = "black";
	       		ctx.rect(tankX, tankY, 15, 10);
	        	ctx.fill();
			ctx.fillStyle = "black";
       			ctx.rect(tankX+15, tankY+4, 7, 2);
        		ctx.fill();
			ctx.fillStyle = "black";
       			ctx.rect(tankX+22, tankY+3, 2, 4);
        		ctx.fill();*/
			break;
		case 2:
			img.src = '{% static 'webtanks/images/tank3.png' %}';
      			img.onload = function(){
				ctx.drawImage(img, 100, 100, 800, 800, tankX, tankY, 20, 20);
			}
			//setInterval(draw, 100);
			/*ctx.fillStyle = "black";
       			ctx.rect(tankX, tankY, 15, 10);
        		ctx.fill();
			ctx.fillStyle = "black";
       			ctx.rect(tankX - 7, tankY+4, 7, 2);
        		ctx.fill();
			ctx.fillStyle = "black";
       			ctx.rect(tankX-9, tankY+3, 2, 4);
        		ctx.fill();*/
			break;
		case 3:
			img.src = '{% static 'webtanks/images/tank1.png' %}';
      			img.onload = function(){
				ctx.drawImage(img, 100, 100, 800, 800, tankX, tankY, 20, 20);
			}
			//setInterval(draw, 100);
			/*ctx.fillStyle = "black";
	       		ctx.rect(tankX, tankY-20, 10, 15);
	        	ctx.fill();
			ctx.fillStyle = "black";
       			ctx.rect(tankX+4, tankY-5, 2, 7);
        		ctx.fill();
			ctx.fillStyle = "black";
       			ctx.rect(tankX+3, tankY+2, 4, 2);
        		ctx.fill();*/
			
			break;
		case 4:
			img.src = '{% static 'webtanks/images/tank4.png' %}';
      			img.onload = function(){
				ctx.drawImage(img, 100, 100, 800, 800, tankX, tankY, 20, 20);
			}
			//setInterval(draw, 100);
			/*ctx.fillStyle = "black";
	       		ctx.rect(tankX, tankY-20, 10, 15);
	        	ctx.fill();
			ctx.fillStyle = "black";
       			ctx.rect(tankX+4, tankY-27, 2, 7);
        		ctx.fill();
			ctx.fillStyle = "black";
       			ctx.rect(tankX+3, tankY-29, 4, 2);
        		ctx.fill();*/
			break;
		}
	}
	
	function doGameLoop() {
	        ctx.putImageData(oldBack, oldtankX, oldtankY);
	        ctx.putImageData(tank, tankX, tankY);
        }

	function whatKey(evt) {

        	oldtankX = tankX;
        	oldtankY = tankY;
        	oldBack = back;
		switch (evt.keyCode) {

	        case 37:
			$.post("treating", {
      				  name: 1,
			},
   			 function(data) {
     					   alert(data);
   			 }
			);
			/*$.ajax({
	  			type: 'POST',
	  			url: "treating",
	  			data: 'name=1',
	  			success: function(data){
					if(data==1)
					{
	   					ctx.fillStyle = "orange";
       						ctx.rect(tankX, tankY, 24, 24);
        					ctx.fill();		          
						tankX = tankX - 5;
						change(1);
					}
					else
					{
						alert(data);
						alert('game over');
					}
	  			},
				error: function(data){alert(data);}
					
			});*/
			break;

	        case 39:
			 $.ajax({
	  			type: 'POST',
	  			url: '{% static 'webtanks/treating.py' %}',
	  			data: 'name=2',
	  			success: function(data){
					if(data==1)
					{
	   					ctx.fillStyle = "orange";
       						ctx.rect(tankX, tankY, 24, 24);
        					ctx.fill();		          
						tankX = tankX + 5;
						change(2);
					}
					else
						alert(data);
						alert('game over');
	  			}
			});		         
			 break;

	        case 40:
			$.ajax({
	  			type: 'POST',
	  			url:  '{% static 'webtanks/treating.py' %}',
	  			data: 'type=3',
	  			success: function(data){
					if(data==1)
					{
	   					ctx.fillStyle = "orange";
       						ctx.rect(tankX, tankY, 24, 24);
        					ctx.fill();		          
						tankY = tankY + 5;
						change(4);
					}
					else
						alert(data);
						alert('game over');
	  			}
			});
          		break;

      	      	 case 38:
			$.ajax({
	  			type: 'POST',
	  			url:  '{% static 'webtanks/treating.py' %}',
	  			data: 'type=4',
	  			success: function(data){
					if(data==1)
					{
	   					ctx.fillStyle = "orange";
       						ctx.rect(tankX, tankY, 24, 24);
        					ctx.fill();		          
						tankY = tankY - 5;
						change(3);
					}
					else
						alert('game over');
	  			}
			});
         		 break;

       		 default:
        		  alert("Please only use the arrow keys.");
		}

        }

        </script>
	</head>
	<body onload="game()">
		<h1>
      		Tanks
    		</h1>
    		<canvas id='example' width="1024" height="720"> </canvas>
    	</body>
</html>
