{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Соединение...{% endblock %}

{% block header %}
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script>
var time = setInterval(function() {search_opponent()}, 300);
function search_opponent()
{
	$.ajax({
		type: 'POST',
  		url: "choose/",
		dataType: 'json',
  		success: function(res){
  			if(res == 1)
			{
				clearInterval(time);
				document.forms["redirect"].submit();
			}
		},
		error: function(xhr, errmsg, err){
					alert(xhr.status + ": " + xhr.responseText);
				}					
			});
}
</script>
<form action="/webtanks/chmod/con/" method="post" name="redirect">
<input type="hidden" name="redirect"></form>
{% endblock %}

{% block content %}
<h1>
CONNECTING...
</h1>
{% endblock %}
