{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Мультиплеер{% endblock %}

{% block header %}
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<form action="/webtanks/chmod/num/multiwin/" method="post" name="win">
	<input type="hidden" name="redirect"></form>
	<form action="/webtanks/chmod/num/lose/" method="post" name="lose">
	<input type="hidden" name="redirect"></form>
	<script src='{% static 'multitanks/change.js' %}'></script>
	<script src='{% static 'multitanks/whatKey.js' %}'></script>
	<script src='{% static 'multitanks/flight.js' %}'></script>
	<script src='{% static 'multitanks/opponent.js' %}'></script>
	<script src='{% static 'multitanks/shoot.js' %}'></script>
	<script src='{% static 'multitanks/bot.js' %}'></script>
	<script src='{% static 'multitanks/win.js' %}'></script>
	<script src='{% static 'multitanks/lose.js' %}'></script>
	<script>
	var tank = new Image();
 	var oldBack = new Image();
	var back = new Image();
	var ctx;
	var type = 1;
	var nums = 0;
	var bulnum = 0;
	//var oldBack = new Image();
	var oldtankX = 120;
	var oldtankY = 690;
	var datakey = 1;
	var example;
	var line_1;
	var btx;
	var dtx;
	var bnum = [];
	var XT = 0;
	var YT = 0; 
	var Xt = 0;
	var Yt = 0;
	var XO = 0;
	var YO = 0;
	var img = new Image();
	var newimg = new Image();
	var timeid = 0;
	var time = [];
	var bots = [];
	var botx = [];
	var Xs = [];
	var Ys = [];
	var numz = [];
	var dbot = [];
	var botX = [];
	var botY = [];
	var b1 = '/static/multitanks/images/bot2.png';
	var b2 = '/static/multitanks/images/bot3.png';
	var b3 = '/static/multitanks/images/bot4.png';
	var b4 = '/static/multitanks/images/bot1.png';
	var b5 = '/static/multitanks/images/bot6.png';
	var b6 = '/static/multitanks/images/bot7.png';
	var b7 = '/static/multitanks/images/bot8.png';
	var b8 = '/static/multitanks/images/bot5.png';
	var bul1 = '/static/multitanks/images/bullet.png';
	var bul2 = '/static/multitanks/images/bullet2.png';
	var t1 = '/static/multitanks/images/tank2.png';
	var t2 = '/static/multitanks/images/tank3.png';
	var t3 = '/static/multitanks/images/tank1.png';
	var t4 = '/static/multitanks/images/tank4.png';
	var t5 = '/static/multitanks/images/tank6.png';
	var t6 = '/static/multitanks/images/tank7.png';
	var t7 = '/static/multitanks/images/tank5.png';
	var t8 = '/static/multitanks/images/tank8.png';
	var numbots = 0;
	var mainsess;
	var opsess;
	var optime;
	var who = 1;
	var button = 1;
	var buttonOp = 1;
	var whois = 0;
	var login;
	function game() {
		/*$.ajax({
			type: 'POST',
			url: "getsess/",
			success: function(arr){
				mainsess = arr[0];
				opsess = arr[1];
			},
			error: function(xhr, errmsg, err){
				alert(xhr.status + ": " + xhr.responseText);
			}	
		});*/
		can = document.getElementById('canvas');
        example = document.getElementById('example');     	
        opponent = document.getElementById('opponent');
		//bott = document.getElementById('bott');
		boll = document.getElementById('bull');
		ctx     = example.getContext('2d');
		otx     = opponent.getContext('2d');
		cvx     = can.getContext('2d');
		dtx = boll.getContext('2d');
	    cvx.fillStyle = '#FFC552';
    	cvx.fillRect(100, 100, 924, 620);
		cvx.fill();
		wall = document.getElementById('walls');		
		wtx = wall.getContext('2d');
	    	wtx.fillStyle = 'gray';
	    	wtx.fillRect(100, 90, 934, 16);
            	wtx.fillRect(90, 90,16, 640);
	    	wtx.fillRect(100, 714, 924, 16);
	    	wtx.fillRect(1018, 100, 16, 630);
	    	wtx.fillRect(100, 200, 724, 6);
            	wtx.fillRect(300, 620, 724, 6);
            	wtx.fillRect(400, 300, 6, 250);
            	wtx.fillRect(700, 300, 6, 250);
		wtx.fill();	    	
		wtx.fillStyle = '#BCF4FF';
-            	wtx.fillRect(824, 200, 194, 6);
-            	wtx.fillRect(106, 620, 200, 6);
-            	wtx.fillRect(550, 206, 6, 414);
-	    	wtx.fillRect(106, 420, 294, 6);
-                wtx.fillRect(706, 420, 312, 6);
-		wtx.fill();
		var i = 0;
		var Xr = 0;
		var Yr = 0;
		$.ajax({
 	  			type: 'POST',
 	  			url: "who/",
 				dataType: 'json',
 	  			success: function(arr){
 					whois = arr[0];
 					login = arr[1];
 	  			},
 				error: function(xhr, errmsg, err){
 						alert(xhr.status + ": " + xhr.responseText);
 					}
 			});
		window.addEventListener('keydown', whatKey, true);
		//optime = setInterval(function() {putdraw()}, 50);
		optime = setInterval(function() {opponentf()}, 500);
	}
	window.onload = game;
    	</script>
{% endblock %}
{% block content %}
		<canvas id='canvas' width="1034" height="730" style="position: fixed; left: 0; top: 0;"></canvas>
    	<canvas id='example' width="1034" height="730" style="position: fixed; left: 0; top: 0;"></canvas>
    	<canvas id='opponent' width="1034" height="730" style="position: fixed; left: 0; top: 0;"></canvas>
		<canvas id='walls' width="1034" height="730" style="position: fixed; left: 0; top: 0;"></canvas> 
		<canvas id='bull' width="1034" height="730" style="position: fixed; left: 0; top: 0;"></canvas> 
		<canvas id='1' width="1034" height="730" style="position: fixed; left: 0; top: 0;"></canvas> 
		<canvas id='2' width="1034" height="730" style="position: fixed; left: 0; top: 0;"></canvas> 
		<canvas id='3' width="1034" height="730" style="position: fixed; left: 0; top: 0;"></canvas> 
		<canvas id='4' width="1034" height="730" style="position: fixed; left: 0; top: 0;"></canvas> 
		<canvas id='5' width="1034" height="730" style="position: fixed; left: 0; top: 0;"></canvas> 
		<canvas id='6' width="1034" height="730" style="position: fixed; left: 0; top: 0;"></canvas> 
		<canvas id='7' width="1034" height="730" style="position: fixed; left: 0; top: 0;"></canvas> 
		<canvas id='8' width="1034" height="730" style="position: fixed; left: 0; top: 0;"></canvas> 
		<canvas id='9' width="1034" height="730" style="position: fixed; left: 0; top: 0;"></canvas> 
		<canvas id='10' width="1034" height="730" style="position: fixed; left: 0; top: 0;"></canvas> 
{% endblock %}
