{% load staticfiles %}
<html>
	<head>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src='{% static 'webtanks/change.js' %}'></script>
	<script src='{% static 'webtanks/whatKey.js' %}'></script>
	<script src='{% static 'webtanks/flight.js' %}'></script>
	<script src='{% static 'webtanks/bot.js' %}'></script>
	<script src='{% static 'webtanks/botchange.js' %}'></script>
	<script src='{% static 'webtanks/shoot.js' %}'></script>
	<script>
	var tank = new Image();
 	var oldBack = new Image();
	var back = new Image();
	var ctx;
	var type = 1;
	var nums = 0;
	var bulnum = 0;
	//var oldBack = new Image();
	var oldtankX = 120;
	var oldtankY = 690;
	var datakey = 1;
	var example;
	var line_1;
	var btx;
	var dtx;
	var bnum = [];
	var XT = 0;
	var YT = 0; 
	var Xt = 0;
	var Yt = 0;
	var img = new Image();
	var newimg = new Image();
	var timeid = 0;
	var time = [];
	var bots = [];
	var botx = [];
	var Xs = [];
	var Ys = [];
	var numz = [];
	var dbot = [];
	var botX = [];
	var botY = [];
	var b1 = '/static/webtanks/images/bot2.png';
	var b2 = '/static/webtanks/images/bot3.png';
	var b3 = '/static/webtanks/images/bot4.png';
	var b4 = '/static/webtanks/images/bot1.png';
	var b5 = '/static/webtanks/images/bot6.png';
	var b6 = '/static/webtanks/images/bot7.png';
	var b7 = '/static/webtanks/images/bot8.png';
	var b8 = '/static/webtanks/images/bot5.png';
	var bul1 = '/static/webtanks/images/bullet.png';
	var bul2 = '/static/webtanks/images/bullet2.png';
	var t1 = '/static/webtanks/images/tank2.png';
	var t2 = '/static/webtanks/images/tank3.png';
	var t3 = '/static/webtanks/images/tank1.png';
	var t4 = '/static/webtanks/images/tank4.png';
	var t5 = '/static/webtanks/images/tank6.png';
	var t6 = '/static/webtanks/images/tank7.png';
	var t7 = '/static/webtanks/images/tank5.png';
	var t8 = '/static/webtanks/images/tank8.png';
	var numbots = 0;
	function game() {
            	example = document.getElementById('example');     	
		//bott = document.getElementById('bott');
		boll = document.getElementById('bull');
		ctx     = example.getContext('2d');
		dtx = boll.getContext('2d');
	    	ctx.fillStyle = '#FFC552';
    	    	ctx.fillRect(100, 100, 924, 620);
		ctx.fill();
		wall = document.getElementById('walls');		
		wtx = wall.getContext('2d');
	    	wtx.fillStyle = 'gray';
	    	wtx.fillRect(100, 90, 934, 16);
            	wtx.fillRect(90, 90,16, 640);
	    	wtx.fillRect(100, 714, 924, 16);
	    	wtx.fillRect(1018, 100, 16, 630);
	    	wtx.fillRect(100, 200, 724, 6);
            	wtx.fillRect(300, 620, 724, 6);
            	wtx.fillRect(400, 300, 6, 250);
            	wtx.fillRect(700, 300, 6, 250);
		wtx.fill();	    	
		wtx.fillStyle = '#BCF4FF';
-            	wtx.fillRect(824, 200, 194, 6);
-            	wtx.fillRect(106, 620, 200, 6);
-            	wtx.fillRect(550, 206, 6, 414);
-	    	wtx.fillRect(106, 420, 294, 6);
-                wtx.fillRect(706, 420, 312, 6);
-		wtx.fill();
		var i = 0;
		var Xr = 0;
		var Yr = 0;
		$.ajax({
  			type: 'POST',
  			url: "numbot/",
			dataType: 'json',
  			success: function(res){
				for (i = 0; i < res; i++)
				{
					bots[i] = document.getElementById(String(i + 1));
					botx[i] = bots[numbots].getContext('2d');
					dbot[i] = 0;
					bnum[i] = 0;
					//bot(i);
					botX[i] = Math.floor((Math.random() * 900) + 100);
					botY[i] = Math.floor((Math.random() * 600) + 100)
					bot(i, 0);
				}
				numbots = res;
				/*for (i = 0; i < res; i++)
				{
					setTimeout(function(){bot(i, Math.floor((Math.random() * 924) + 100), Math.floor((Math.random() * 620) + 100))}, 5);
				}*/
  			},
			error: function(xhr, errmsg, err){
					alert(xhr.status + ": " + xhr.responseText);
				}					
			});
		/*for (i = 0; i < res; i++)
		{
			bots[numbots] = document.getElementById(String(i + 1));
			botx[numbots] = bots[numbots].getContext('2d');
			dbot[numbots] = 0;
			numbots++;
			bot(i);
		}*/
		//bots[numbots] = document.getElementById('bott1');
		//botx[numbots] = bots[numbots].getContext('2d');
		//dbot[numbots] = 0;
		//numbots++;
		//bots[numbots] = document.getElementById('bott2');
		//botx[numbots] = bots[numbots].getContext('2d');
		//dbot[numbots] = 0;		
		//numbots++;	
		//makeTank();
		//bot(0);
		//bot(1);
		window.addEventListener('keydown', whatKey, true);
		//setInterval(function() {change(nums, XT, YT)}, 1);
		
	}

        </script>
	</head>
	<style>
   	html, body {
    	overflow-y: hidden;
   	}
  	</style>
	<body onload="game()">
	<body style="background:#FE9A2E">
		<div style="display: table; margin: 0 auto; padding: 1em 0; text-align: center;">
      		<font size="7">WEBTANKS</font>
    	</div>
    	<canvas id='example' width="1034" height="730" style="position: fixed; left: 270; top: 10;"></canvas>
		<canvas id='walls' width="1034" height="730" style="position: fixed; left: 270; top: 10;"></canvas> 
		<canvas id='bull' width="1034" height="730" style="position: fixed; left: 270; top: 10;"></canvas> 
		<canvas id='1' width="1034" height="730" style="position: fixed; left: 270; top: 10;"></canvas> 
		<canvas id='2' width="1034" height="730" style="position: fixed; left: 270; top: 10;"></canvas> 
		<canvas id='3' width="1034" height="730" style="position: fixed; left: 270; top: 10;"></canvas> 
		<canvas id='4' width="1034" height="730" style="position: fixed; left: 270; top: 10;"></canvas> 
		<canvas id='5' width="1034" height="730" style="position: fixed; left: 270; top: 10;"></canvas> 
		<canvas id='6' width="1034" height="730" style="position: fixed; left: 270; top: 10;"></canvas> 
		<canvas id='7' width="1034" height="730" style="position: fixed; left: 270; top: 10;"></canvas> 
		<canvas id='8' width="1034" height="730" style="position: fixed; left: 270; top: 10;"></canvas> 
		<canvas id='9' width="1034" height="730" style="position: fixed; left: 270; top: 10;"></canvas> 
		<canvas id='10' width="1034" height="730" style="position: fixed; left: 270; top: 10;"></canvas> 
    	</body>
</html>
