{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Режим игры{% endblock %}

{% block content %}
<div style="display: table; margin: 0 auto; padding: 3em 0; text-align: center;">
<form action="/webtanks/chmod/" method="post">
    <p><label for="num"><font size="8" color="black" face="Calibri">Выберите режим игры: </font></label></p>
    <p>
    <div style="display: table; margin: 0 auto; padding: 1em 0; text-align: center;">
	<input type="radio" class="radio" id="radio1" name="num" value="1" checked>
	<label for="radio1"><font size="5" color="black" face="Ariel">Одиночная игра </font></label>
    <input type="radio" class="radio" id="radio2" name="num" value="0">
	<label for="radio2"><font size="5" color="black" face="Ariel">Мультиплеер </font></label>
	<input type="radio" class="radio" id="radio3" name="num" value="2">
	<label for="radio3"><font size="5" color="black" face="Ariel">Рейтинг</font></label>
	</p> 
	</div>
    <input type="submit" value="OK">
</form>
</div>
{% endblock %}
