{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Выберите режим игры{% endblock %}

{% block content %}
<div style="display: table; margin: 0 auto; padding: 3em 0; text-align: center;">
<form action="/webtanks/chmod/" method="post">
    <p><label for="num"><font size="10" color="black" face="Calibri">Choose a type of the game: </font></label></p>
    <p>
	<input type="radio" class="radio" id="radio1" name="num" value="1" checked>
	<label for="radio1">Одиночная игра</label>
    <input type="radio" class="radio" id="radio2" name="num" value="0">
	<label for="radio2">Мультиплеер</label>
	</p> 
    <input type="submit" value="OK">
</form>
</div>
{% endblock %}
