{% load i18n %}
{% load url from future %}
<!doctype html>
<html lang="RU">

<head>
    <title>{{ site.name }} {% trans "registration" %}</title>
</head>

<body>
<p>
    {% blocktrans with site_name=site.name %}
    Вы (или кто-то другой) зарегистрировался на сайте
    {{ site_name }}.  Если это были не вы, пожалуйста, проигнорируйте это письмо,
    и ваш email будет удалён из нашей базы.
    {% endblocktrans %}
</p>
<p>
    {% blocktrans %}
    Для активации аккаунта перейдите по заданной ссылке не позднее, чем через
    {{ expiration_days }} дня:
    {% endblocktrans %}
</p>

<p>
    <a href="http://{{site.domain}}{% url 'registration_activate' activation_key %}">
        {{site.domain}}{% url 'registration_activate' activation_key %}
    </a>
</p>
<p>
    {% blocktrans with site_name=site.name %}
    С уважением,
    администрация сайта {{ site_name }}.
    {% endblocktrans %}
</p>
</body>

</html>