{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Войти" %}{% endblock %}

{% block content %}

{% if user.is_authenticated %}
Что такое, {{ user.username }}? Вы же уже авторизорваны.
Можете <a href="/webtanks/">начать играть</a>! 
Впрочем, всегда можно <a href="{% url 'auth_logout' %}">выйти</a>.<br/><br/>
{% else %}
<div id="login">
<h2><span class="fontawesome-lock"></span>Авторизация</h2>
<form method="post" action=".">
    {% csrf_token %}
    <fieldset>
	{{ form.as_p }}
    <input type="submit" value="{% trans 'Войти' %}" />
    <input type="hidden" name="next" value="/webtanks/" />
	</fieldset>
</form>
<h2 class = "bottom1">
<span class="fontawesome-user"></span> Ещё не зарегистрированы? <a href="{% url 'registration_register' %}">Регистрируйтесь!</a>
</h2>
<h2 class = "bottom2">
<span class="fontawesome-question-sign"></span> Забыли пароль? <a href="{% url 'auth_password_reset' %}">Восстановите его!</a>
</h2>
</div>
{% endif %}
{% endblock %}